* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(./img/_0300a7ab-d25d-44af-b203-89372f609353.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

nav {
  color: black;
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  
}

.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}


#presentation {
  color: black;
  height: 100vh;
}

#presentation-div{
  height: 100%;
}

#presentation h1 {
  margin-left: 5px;
  font-family: 'Poppins', sans-serif;
}

#presentation p {
  font-family: 'Poppins', sans-serif;
}

#bg-presentation {
  background-color:#DCDCDC;
  border-radius: 30px;
  opacity: 0.95;
  width: 90%;
}

#presentation p {
  font-size: 1.8em;
}





#ma-photo {
  border-radius: 30px;
  opacity: 0.5;
  transition: opacity .4s;
}


#ma-photo:hover {
  opacity: 1;
}

#mes-projets {
  height: 100%;
  width: 100%;

}

h2 {
  font-size: 2.5em;
  font-family: 'Protest Strike', sans-serif;
  font-weight: bold;
}


footer {
  color: rgb(8, 8, 8);
  background-color: rgba(47, 44, 44, 0.61);

}

footer p {

  font-size: 1.5em;
}

.img-cv {
  height: 50px;

}

.img-link {
  height: 50px;

}

.img-mail {
  height: 50px;


}

.fleche {
  height: 50px;
  position: fixed;
  right: 2%;
  bottom: 10%;
}


.gallery-1 {
  --s: 280px;
  /* control the size */

  display: grid;
  width: var(--s);
  aspect-ratio: 1;
  overflow: hidden;
  padding: calc(var(--s) / 20);
  border-radius: 50%;
  position: relative;
  clip-path: circle(49.5%);
  /* to avoid a few glitch cause by overflow: hidden */
}

.gallery-1::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: inherit;
  border-radius: inherit;
  background: repeating-conic-gradient(black 0 30deg, black 0 60deg);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gallery-1>img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transform-origin: 50% 120.7%;
}

.gallery-1::after,
.gallery-1>img {
  animation: m 8s infinite cubic-bezier(0.5, -0.2, 0.5, 1.2);
}

.gallery-1>img:nth-child(2) {
  animation-delay: -2s;
}

.gallery-1>img:nth-child(3) {
  animation-delay: -4s;
}

.gallery-1>img:nth-child(4) {
  animation-delay: -6s;
}

@keyframes m {

  0%,
  3% {
    transform: rotate(0);
  }

  22%,
  27% {
    transform: rotate(-90deg);
  }

  47%,
  52% {
    transform: rotate(-180deg);
  }

  72%,
  77% {
    transform: rotate(-270deg);
  }

  98%,
  100% {
    transform: rotate(-360deg);
  }
}

.gallery-2 {
  --s: 280px;
  /* control the size */

  display: grid;
  width: var(--s);
  aspect-ratio: 1;
  overflow: hidden;
  padding: calc(var(--s) / 20);
  border-radius: 50%;
  position: relative;
  clip-path: circle(49.5%);
  /* to avoid a few glitch cause by overflow: hidden */
}

.gallery-2::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: inherit;
  border-radius: inherit;
  background: repeating-conic-gradient(black 0 30deg, black 0 60deg);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gallery-2>img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transform-origin: 50% 120.7%;
}

.gallery-2::after,
.gallery-2>img {
  animation: m 8s infinite cubic-bezier(0.5, -0.2, 0.5, 1.2);
}

.gallery-2>img:nth-child(2) {
  animation-delay: -2s;
}

.gallery-2>img:nth-child(3) {
  animation-delay: -4s;
}

.gallery-2>img:nth-child(4) {
  animation-delay: -6s;
}

@keyframes m {

  0%,
  3% {
    transform: rotate(0);
  }

  22%,
  27% {
    transform: rotate(-90deg);
  }

  47%,
  52% {
    transform: rotate(-180deg);
  }

  72%,
  77% {
    transform: rotate(-270deg);
  }

  98%,
  100% {
    transform: rotate(-360deg);
  }
}


#wrapper {
  transform: translateY(-50%);
  -webkit-perspective: 800;
  perspective: 800;
  -moz-perspective: 800;
}

.carrousel {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: Caroussel 10s infinite linear;
  animation: Caroussel 14s infinite linear;
  -moz-transform-style: preserve-3d;
  -moz-animation: Caroussel 10s infinite linear;
}

.plan {

  position: absolute;
  height: auto;

  /* taille image caroussel */
  width: 400px;

  text-align: center;
  font-size: 6em;

}

.b {
  opacity: 0.7;
  transition: opacity .3s;
}

.b:hover {
  opacity: 1;
}

@-webkit-keyframes Caroussel {

  from {
    -webkit-transform: rotateY(0);
  }

  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes Caroussel {

  from {
    transform: rotateY(0);
  }


  /* gère la vitesse de rotation du caroussel */
  to {
    transform: rotateY(-360deg);
  }
}


.p1 {
  -moz-transform: translateZ(346px);
  transform: translateZ(346px);
}

.p2 {
  -moz-transform: rotateY(60deg) translateZ(346px);
  transform: rotateY(60deg) translateZ(346px);
}

.p3 {
  -moz-transform: rotateY(120deg) translateZ(346px);
  transform: rotateY(120deg) translateZ(346px);
}

.p4 {
  -moz-transform: rotateY(180deg) translateZ(346px);
  transform: rotateY(180deg) translateZ(346px);
}

.p5 {
  -moz-transform: rotateY(240deg) translateZ(346px);
  transform: rotateY(240deg) translateZ(346px);
}

.p6 {
  -moz-transform: rotateY(300deg) translateZ(346px);
  transform: rotateY(300deg) translateZ(346px);
}




@media only screen and (max-width: 850px) {
  footer p {
    font-size: 1em;
  }

  h2 {
    font-size: 1.5em;
  }

  .mon-cv {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1400px) {
  #presentation h2 {
    font-size: 25px;
  }

  #presentation p {
    font-size: 25px;
  }
}

@media only screen and (max-width: 850px) {
  #presentation h1 {
    font-size: 25px;
  }

  #presentation p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 750px) {
  #presentation h1 {
    font-size: 20px;
  }

  #presentation p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 575px) {
  #presentation {
    margin-top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
  }

  #presentation h1 {
    font-size: 22px;
  }

  #presentation p {
    font-size: 19px;
  }

  #presentation > div > article{
    height: 350px;
  }

  #bg-presentation{
    height: 300px;
  }

  
}

@media only screen and (max-width: 350px) {
  #presentation h1 {
    font-size: 20px;
  }

  #presentation p {
    font-size: 18px;
  }
}

@media only screen and (min-width:575px){
  /* #presentation-div {
    height: 100% !important;
  } */
}

@media only screen and (max-width: 500px) {
  

  #presentation {
    /* height: auto; */
    width: 100%;


  }

}



@media only screen and (max-width: 850px) {
  nav {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 520px) {
  nav {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 850px) {
  .mon-cv {
    height: 25px;
  }
}

@media only screen and (max-width: 850px) {
  .gallery-1 {
    --s: 180px;
    /* control the size */

    display: grid;
    width: var(--s);
    aspect-ratio: 1;
    overflow: hidden;
    padding: calc(var(--s) / 20);
    border-radius: 50%;
    position: relative;
    clip-path: circle(49.5%);
    /* to avoid a few glitch cause by overflow: hidden */
  }
}

@media only screen and (max-width: 850px) {
  .gallery-2 {
    --s: 180px;
    /* control the size */

    display: grid;
    width: var(--s);
    aspect-ratio: 1;
    overflow: hidden;
    padding: calc(var(--s) / 20);
    border-radius: 50%;
    position: relative;
    clip-path: circle(49.5%);
    /* to avoid a few glitch cause by overflow: hidden */
  }
}

@media only screen and (max-width: 900px) {

  #wrapper {
    transform: translateY(-50%);
    -webkit-perspective: 800;
    perspective: 800;
    -moz-perspective: 800;
  }
  
  .carrousel {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: Caroussel 10s infinite linear;
    animation: Caroussel 12s infinite linear;
    -moz-transform-style: preserve-3d;
    -moz-animation: Caroussel 10s infinite linear;
  }
  
  .plan {
  
    position: absolute;
    height: auto;
  
    /* taille image caroussel */
    width:200px;
  
    text-align: center;
    font-size: 6em;

  }
  
  .b {
    opacity: 0.7;
    transition: opacity .3s;
  }
  
  .b:hover {
    opacity: 1;
  }
  
  @-webkit-keyframes Caroussel {
  
    from {
      -webkit-transform: rotateY(0);
    }
  
    to {
      -webkit-transform: rotateY(-360deg);
    }
  }
  
  @keyframes Caroussel {
  
    from {
      transform: rotateY(0);
    }
  
  
    /* gère la vitesse de rotation du caroussel */
    to {
      transform: rotateY(-360deg);
    }
  }
  
  
  .p1 {
    -moz-transform: translateZ(173px);
    transform: translateZ(173px);
  }
  
  .p2 {
    -moz-transform: rotateY(60deg) translateZ(173px);
    transform: rotateY(60deg) translateZ(173px);
  }
  
  .p3 {
    -moz-transform: rotateY(120deg) translateZ(173px);
    transform: rotateY(120deg) translateZ(173px);
  }
  
  .p4 {
    -moz-transform: rotateY(180deg) translateZ(173px);
    transform: rotateY(180deg) translateZ(173px);
  }
  
  .p5 {
    -moz-transform: rotateY(240deg) translateZ(173px);
    transform: rotateY(240deg) translateZ(173px);
  }
  
  .p6 {
    -moz-transform: rotateY(300deg) translateZ(173px);
    transform: rotateY(300deg) translateZ(173px);
  }
  
  
}