body {
  height: 100%;
  width: 100%;
  background-image: url(./img/_0300a7ab-d25d-44af-b203-89372f609353.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

nav {
  color: black;
  font-size: 2em;
}

@media only screen and (max-width: 850px) {
  nav {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 520px) {
  nav {
    font-size: 1em;
  }
}

#presentation {
  color: black;
  padding-top: 1500px;
}

#bg-presentation {
  background-color: darkgray;
  opacity: 0.7;

}

#presentation p {
  font-size: 1.8em;
}

@media only screen and (max-width: 1000px) {
  #presentation p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 500px) {
  #presentation p {
    font-size: 0.6em;
    margin-left: 5px;
  }
}
#presentation h1 {

  font-size: 2em;
}

@media only screen and (max-width: 1000px) {
  #presentation h1 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 500px) {
  #presentation h1 {
    font-size: 0.8em;
    margin-left: 5px;
  }
}



#ma-photo {
  border-radius: 30px;
  opacity: 0.2;
  transition: opacity .4s;
  height: 450px;
  width: auto;
}

@media only screen and (max-width: 1000px) {
  #ma-photo {
    height: 350px;
    width: auto;

  }
}

@media only screen and (max-width: 510px) {
  #ma-photo {
    height: 300px;
    width: auto;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 500px) {
  #ma-photo {
    height: 245px;
    width: auto;
  }
}

#ma-photo:hover {
  opacity: 1;
}

#mes-projets {
  height: 100%;
  width: 100%;

}

h2 {
  font-size: 2.5em;
}

@media only screen and (max-width: 850px) {
  h2 {
    font-size: 1.5em;
  }
}

footer {
  color: rgb(8, 8, 8);
  background-color: rgba(47, 44, 44, 0.61);
  height: 100%;
  width: 100%;
}

footer p {

  font-size: 1.5em;
}

@media only screen and (max-width: 850px) {
  footer p {
    font-size: 1em;
  }
}

.mon-cv {
  color: darkorange;
  font-size: 1.5em;
}

@media only screen and (max-width: 850px) {
  .mon-cv {
    font-size: 1em;
  }
}

.img-cv {
  height: 50px;
}

@media only screen and (max-width: 850px) {
  .mon-cv {
    height: 25px;
  }
}


.gallery-1 {
  --s: 280px;
  /* control the size */

  display: grid;
  width: var(--s);
  aspect-ratio: 1;
  overflow: hidden;
  padding: calc(var(--s) / 20);
  border-radius: 50%;
  position: relative;
  clip-path: circle(49.5%);
  /* to avoid a few glitch cause by overflow: hidden */
}

.gallery-1::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: inherit;
  border-radius: inherit;
  background: repeating-conic-gradient(black 0 30deg, black 0 60deg);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gallery-1>img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transform-origin: 50% 120.7%;
}

.gallery-1::after,
.gallery-1>img {
  animation: m 8s infinite cubic-bezier(0.5, -0.2, 0.5, 1.2);
}

.gallery-1>img:nth-child(2) {
  animation-delay: -2s;
}

.gallery-1>img:nth-child(3) {
  animation-delay: -4s;
}

.gallery-1>img:nth-child(4) {
  animation-delay: -6s;
}

@keyframes m {

  0%,
  3% {
    transform: rotate(0);
  }

  22%,
  27% {
    transform: rotate(-90deg);
  }

  47%,
  52% {
    transform: rotate(-180deg);
  }

  72%,
  77% {
    transform: rotate(-270deg);
  }

  98%,
  100% {
    transform: rotate(-360deg);
  }
}

.gallery-2 {
  --s: 280px;
  /* control the size */

  display: grid;
  width: var(--s);
  aspect-ratio: 1;
  overflow: hidden;
  padding: calc(var(--s) / 20);
  border-radius: 50%;
  position: relative;
  clip-path: circle(49.5%);
  /* to avoid a few glitch cause by overflow: hidden */
}

.gallery-2::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: inherit;
  border-radius: inherit;
  background: repeating-conic-gradient(black 0 30deg, black 0 60deg);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gallery-2>img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transform-origin: 50% 120.7%;
}

.gallery-2::after,
.gallery-2>img {
  animation: m 8s infinite cubic-bezier(0.5, -0.2, 0.5, 1.2);
}

.gallery-2>img:nth-child(2) {
  animation-delay: -2s;
}

.gallery-2>img:nth-child(3) {
  animation-delay: -4s;
}

.gallery-2>img:nth-child(4) {
  animation-delay: -6s;
}

@keyframes m {

  0%,
  3% {
    transform: rotate(0);
  }

  22%,
  27% {
    transform: rotate(-90deg);
  }

  47%,
  52% {
    transform: rotate(-180deg);
  }

  72%,
  77% {
    transform: rotate(-270deg);
  }

  98%,
  100% {
    transform: rotate(-360deg);
  }
}


#wrapper {
  width: 900px;
  -webkit-perspective: 800;
  perspective: 800;
  -moz-perspective: 800;
  margin: 150px auto 0 auto;
}

.carrousel {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: Caroussel 10s infinite linear;
  animation: Caroussel 18s infinite linear;
  -moz-transform-style: preserve-3d;
  -moz-animation: Caroussel 10s infinite linear;
}

.plan {

  position: absolute;
  height: auto;
  width: 200px;
  text-align: center;
  font-size: 6em;
  color: #0000006f;
  background-color: rgba(0, 0, 0, 0.7);
}

.b {
  opacity: 0.7;
  transition: opacity .3s;
}

.b:hover {
  opacity: 1;
}

.projects {
  font-size: 3em;
}

@-webkit-keyframes Caroussel {

  from {
    -webkit-transform: rotateY(0);
  }

  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes Caroussel {

  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(-360deg);
  }
}



.p1 {
  -webkit-transform: translateZ(200px);
  transform: translateZ(200px);
}

.p2 {
  -webkit-transform: rotateY(72deg) translateZ(200px);
  transform: rotateY(72deg) translateZ(200px);
}

.p3 {
  -webkit-transform: rotateY(144deg) translateZ(200px);
  transform: rotateY(144deg) translateZ(200px);
}

.p4 {
  -webkit-transform: rotateY(216deg) translateZ(200px);
  transform: rotateY(216deg) translateZ(200px);
}

.p5 {
  -webkit-transform: rotateY(288deg) translateZ(200px);
  transform: rotateY(288deg) translateZ(200px);
}


.p1 {
  -moz-transform: translateZ(200px);
  transform: translateZ(200px);
}

.p2 {
  -moz-transform: rotateY(72deg) translateZ(200px);
  transform: rotateY(72deg) translateZ(200px);
}

.p3 {
  -moz-transform: rotateY(144deg) translateZ(200px);
  transform: rotateY(144deg) translateZ(200px);
}

.p4 {
  -moz-transform: rotateY(216deg) translateZ(200px);
  transform: rotateY(216deg) translateZ(200px);
}

.p5 {
  -moz-transform: rotateY(288deg) translateZ(200px);
  transform: rotateY(288deg) translateZ(200px);
}